.footer {
	background-color: var(background-color);
	color: var(--text-color);
	padding: 10px 0;
	text-align: center;
	border-top: 1px solid var(--text-color);
}

.footer__text {
	font-size: 1em;
	margin: 0;
}

@media (max-width: 335px) {
	.footer__text {
		font-size: 0.9em;
	}
}
