.searchBar {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-between;
  background-color: var(--brown);
  padding: 0.8em;
  border-radius: 1em;
  width: 56.8em;
  margin: 0.8em 0;
}

.searchBar__label {
  color: var(--white);
}

.searchBar__input {
  font-size: 1em;
  padding: 0.5em;
  border: 1px solid var(--dark-grey);
  border-radius: 0.8em;
}

.searchBar__button {
  max-height: 3.3em;
  font-size: 1em;
  background-color: var(--orange);
  color: var(--white);
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.8em;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.button__text {
  text-align: left;
  font-size: 1em;
  margin-right: 0.5em;
  color: var(--text-color);
}

.button__icon {
  color: var(--text-color);
}
