.searchBar {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-between;
  background-color: var(--brown);
  padding: 0.8em;
  border-radius: 1em;
  width: 56.8em;
  margin: 0.8em 0;
}

.searchBar__label {
  color: var(--white);
}

.searchBar__input {
  font-size: 1em;
  padding: 0.5em;
  border: 1px solid var(--dark-grey);
  border-radius: 0.8em;
}

.searchBar__button {
  max-height: 3.3em;
  font-size: 1em;
  background-color: var(--orange);
  color: var(--white);
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.8em;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.button__text {
  text-align: left;
  font-size: 1em;
  margin-right: 0.5em;
  color: var(--text-color);
}

.button__icon {
  color: var(--text-color);
}

@media (max-width: 964px) {
  .searchBar {
    margin-top: 43em;
    width: 45em;
  }
  
  .searchBar__input {
    width: 30em;
  }
}

@media (max-width: 770px) {
  .searchBar {
    margin-top: 49em;
    font-size: 14px;
  }
}

@media (max-width: 650px) {
  .searchBar {
    width: 35em;
  }

  .searchBar__input {
    width: 95%;
  }
}

@media (max-width: 530px) {
  .searchBar {
    margin-top: 47em;
    flex-direction: column;
    gap: 0.8em;
    width: 30em;
  }

  .searchBar__input {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .searchBar {
    margin-top: 40em;
    width: 20em;
  }

  .searchBar__input {
    font-size: 0.9em;
  }
}