.avatar {
	display: flex;
	flex-direction: column;
}

.avatar__textContainer {
	position: relative;
	background-color: var(--green);
	border-radius: 15px;
	padding: 10px 20px;
	/* width: 40%; */
	width: 400px;
	height: 150px;
	/* text-align: justify; */
}

.avatar__text::after {
	content: "";
	position: absolute;
	bottom: -10px;
	left: 20px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 10px 0;
	border-color: var(--green) transparent transparent transparent;
}

.avatar__text {
	font-size: 18px;
	white-space: wrap;
	overflow: hidden;
}

.avatar__imageContainer {
  
}

.avatar__image {
	object-fit: contain;
}
