.theme__switcher {
  width: 60px;
  height: 30px;
  background-color: var(--green);
  border-radius: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease;

  .theme__icon {
    color: var(--orange);
  }
}

.theme__slider {
  width: 30px;
  height: 30px;
  background-color: var(--dark-grey);
  border: 1px solid var(--dark-grey);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-grey);
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease,
    left 0.3s ease;
  position: absolute;
  left: 0;
}

.theme__icon {
  height: 18px;
  width: 18px;
}

.darkMode .theme__switcher {
  background-color: var(--light-grey);
  transition: background-color 0.3s ease;
}

.darkMode .theme__slider {
  background-color: var(--light-grey);
  color: var(--light-grey);
  transform: translateX(30px);
}

.darkMode .theme__icon {
  color: var(--orange);
}