.recipe {
	display: flex;
	flex-direction: column;
	width: 28em;
	min-height: 38em;
	padding: 1em;
	align-self: center;
	justify-self: center;
	border: 5px solid var(--green);
	border-radius: 1em;
	position: relative;
	margin-bottom: 1em;
}

.recipe::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("/images/recipe-bg.png");
	background-repeat: repeat;
	background-size: cover;
	opacity: 0.4;
	z-index: -1;
}

.recipe__header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.recipe__title {
	text-align: center;
	margin-bottom: 0.5em;
	font-size: 1.6em;
	border-bottom: 5px solid var(--green);
}

.recipe__desc {
	flex-grow: 1;
	text-align: justify;
	font-size: 1.2em;
}

.recipe__buttons {
	display: flex;
	justify-content: space-between;
	margin-top: 0.5em;
}

.recipe__button {
	font-size: 1.2em;
	display: flex;
	align-items: center;
	gap: 1em;
	background-color: var(--green);
	color: white;
	padding: 0.5em;
	border: none;
	border-radius: 0.5em;
	cursor: pointer;
}

.recipe__button:hover {
	background-color: var(--brown);
}

.recipe__button:disabled {
	opacity: 0.6;
	cursor: not-allowed;
	background-color: var(--brown);
	color: var(--dark-grey);
}